#Ignore build folder
build/

#ignore .cache foldr
.cache/

#ignore compiled object files
*.object

#ignore the compiled main executable
main

#ignore the move command files
includes/commands/MoveCommand.hpp
source/commands/MoveCommand.cpp.

DS_Store
.DS_Store?
